
.header {
    border: 10px solid black;
    margin: 10em;
    display: flex;
    width: 30em;
    
    
}
/*-----menu ---------*/
#navbar{
    position: relative;
    left: 15em;
}

.nav{
    display: flex;
    flex-direction: column;
    height: 200px;
        justify-content: space-between;
        
    
}

nav a{
    position: relative;
    border: 2px solid black;
    border-radius: 10px;
    top: 100px;
    width: 150px;
    text-decoration: none;
        color: black;
        text-align: center;
        height: 200px;
        line-height: 50px;
        margin-bottom: 20px;
        
        
       
        
        

}

#navbar img{
    width: 100px;
    position: relative;
    top: 30px;
    left: 2.5em;

    
}

/*---section-------*/

h1,h2{
    text-align: center;
}

h1{
    font-size: 50px;
    text-decoration: underline;
}

section{
    position: relative;
    left: 8em;

}

.section img{
    width: 160px;
    position: relative;
    left: 10em;
    float: left;
    top: 120px;
    right: 10em;
}

.para{
    text-align: center;
    margin: 20em;
    position: relative;
    bottom: 18em;
    
   


    
}