
/*body{
    background-image: url(/logoCF2M.png);
    background-repeat: no-repeat;
    background-position: top center;
    
}

table tr td{
    border:2px solid black;
    text-align: center;
    
   
}
th, td {
    border:2px solid black;
    padding: 10px;

}
table{border-collapse: collapse;
    margin: 0 auto;
    width: 50%;
    
}

.tt{
    text-align: right;
}
.t{
    text-align: left;
}
#tt{
    width: 500px;
}
.ti{
    width: 100px;
}

h1{
    text-align: center;
    margin-top: 170px;
    font-size: 300%;
}
h2{
    text-align: center;
}
.img{
    margin-left: 46%;
}
section{
    text-align: center;
    border-style: dotted ;  
    width: 20%;
    margin: 0 auto;
    border-color: blue;
    font-style: italic;
    
}
div {
    text-align: left;
    margin-left: 10px;
}
.h22{
    text-align: left;
}

.basPage{
    margin-top: 10%;
}*/

